<style type="text/css">
	#HomeWorkouts{
	padding: 20px;
	text-align: justify;
	font-size: 20px;
}
#HomeWorkouts p{
	padding: 20px;
}
#HomeWorkouts .para2{
	width: 600px;
	float: left;
}
#HomeWorkouts .para3{
	width: 600px;
	float: right;
}
.nav{
	background: black;
	text-align: center;
	font-size: 22px;
	font-weight: 600;
}
.nav ul{
	display: inline-flex;
	list-style: none;
	color: whitesmoke;
}
.nav ul li{
	width: 100px;
	margin: 15px;
	padding: 15px;
}
.nav ul li a{
	text-decoration: none;
	color: whitesmoke;
}
.nav ul li:hover{
	background: #b2d444;
	border-radius: 30px;
	transition: 0.6s;
}
#Chest{
	position: absolute;
	left: 100px;
	text-align: center;
}
.chestimg1{
	position: absolute;
	padding: 20px;
	height: 400px;
	width: 300px;
}
.chestimg2{
	position: relative;
	left: 400px;
	padding: 20px;
	height: 400px;
	width: 300px;
}
.chestimg3{
	position: relative;
	left: 800px;
	bottom: 443px;
	padding: 20px;
	height: 400px;
	width: 300px;
}
.backimg1{
	height: 400px;
	width: 600px;
	padding: 20px;
}
.backimg2{
	height:400px;
	width: 600px;
	padding: 20px;
}
.backimg3{
	width: 1200px;
	height: 800px;
	padding: 20px;
	margin-left: 44px;
}
.tricepimg1{
	float: left;
	text-align: center;
	padding: 10px;
	margin: 10px;
}
.bicepimg1{
	float: right;
	text-align: center;
	padding: 10px;
	margin: 10px;
}
.abs1{
	float: left;
	width: 600px;
}
.absimg1{
	float: right;
	width: 680px;
	height: 700px;
}
.lowerabs{
	position: relative;
	top: 88px;
	margin: 20px;
	padding: 20px;
	text-align: center;
	float: right;
}
.upperabs{
	position: relative;
	bottom: 110px;
	margin: 20px;
	padding: 20px;
	text-align: center;
	float: left;
}
#Legs{
	text-align: justify;
	position: relative;
	top: 600px;
}
.leg1{
	position: relative;
	bottom: 400px;
	left: 200px;
}
#Shoulders{
	position: relative;
	top: 300px;
}
.nav1{
	position: relative;
	bottom: 170px;
	margin-top: 200px;
	background: black;
	text-align: center;
	font-size: 22px;
	font-weight: 600;
}
</style>
<section>
			<div id="HomeWorkouts">
				<h1 style="text-align: center; background-color:#b2d444;">Home Workouts</h1><br>
				<img src="https://wallpaperaccess.com/full/1107999.jpg" width="1300px" height="600px"><br><br>
				<h1>Bodyweight Excercise</h1>
				<p>
					Bodyweight exercises (also called bodyweight workouts) are strength-training exercises that use an individual's own weight to provide resistance against gravity. Bodyweight exercises can enhance a range of biomotor abilities including strength, power, endurance, speed, flexibility, coordination and balance.Such strength training has become more popular among recreational and professional athletes.Bodyweight training uses simple abilities like pushing, pulling, squatting, bending, twisting and balancing. Movements such as the push-up, the pull-up, and the sit-up are among the most common bodyweight exercises.
				</p>
				<div class="para2">
				<h1>Advantages</h1>
				<p>
					While some exercises may require equipment, most bodyweight exercises require none. For exercises requiring equipment, common household items (such as a bath towel for towel curls) are often sufficient, or substitutes may be improvised (for example, using a horizontal tree branch to perform pull-ups). As such, bodyweight exercises are convenient while traveling or on vacation, when access to a gym or specialized equipment may not be available.Another advantage of bodyweight training is that it entails no cost
				</p>
			</div>
			<div class="para3">
				<h1>Disadvantages</h1>
				<p>
					As bodyweight exercises use an individual's own weight to provide movement resistance, the weight being lifted is never greater than one's own body weight, and this can limit new muscle growth. Other downsides are that bodyweight training may be daunting to novices and perceived as too easy for experienced athletes.Women, in general, may also find it more difficult to do bodyweight exercises involving upper body strength and may be discouraged from incorporating these exercises into their fitness regimens.
				</p>
			</div>
		<br><br><br><br><br><br><br><br><br><br><br><br><br>
	
				<h1>Areas To Cover</h1><br>
				<div class="nav">
			
			<nav>
				<ul>
				<li><a href="#Chest">Chest</a></li>
				<li><a href="#Back">Back</a></li>
				<li><a href="#Arms">Arms</a></li>
				<li><a href="#Abdominals">Abdominals</a></li>
				<li><a href="#Legs">Legs</a></li>
				<li><a href="#Shoulders">Shoulders</a></li>
			</ul>
			</nav>
		</div><br><br>
		<div id="Chest">
			<h1 style="text-align:center; position: relative; left: 390px;">Chest</h1><br>
			<div class="chestimg1">
			<h1>1.Push Up</h1><br>
			<img src="https://media.gq.com/photos/5b7606ed4f11a14b17458568/master/w_1600,c_limit/Scruggs-Chest-GIF7-2.gif" width="300px" height="400px">
		</div>
			<div class="chestimg2">
			<h1>2.Wide Push Up</h1><br>
			<img src="https://media.gq.com/photos/5b75f2df6d8c2c2b3d5c381c/master/w_1600,c_limit/Scruggs-Chest-GIF6-2.gif" width="300px" height="400px">
		</div>
		<div class="chestimg3">
			<h1>3.Diamond Push Up</h1><br>
			<img src="https://media.gq.com/photos/5b760715484efb4041cd65c6/master/w_1600,c_limit/Scruggs-Chest-GIF8.gif" width="300px" height="400px">
		</div>
		</div>
		
			<img src="https://wallpaperaccess.com/full/4223750.jpg" width="1310px" height="550px"><br><br>
			<div id="Back">
<h1 style="text-align:center;">Back</h1><br>
<img class="backimg1" src="https://thumbs.gfycat.com/DisgustingSorrowfulIbex-max-1mb.gif">
			<img class="backimg2" src="https://thumbs.gfycat.com/FrightenedNearDachshund-max-1mb.gif">
			<img class="backimg3" src="https://weighteasyloss.com/wp-content/uploads/2020/03/pull-ups-guide-e1583092596329.jpg">
		</div><br><br>
		<div id="Arms">

			<h1 style="text-align:center;">Arms</h1><br><br>
			
			<div class="tricepimg1">
			<h2>Triceps</h2>
			<br>
			<img src="https://thumbs.gfycat.com/FittingImpassionedAmethystinepython-max-1mb.gif" width="600px" height="400px"><br><br><br><br>
		</div>
		<div class="bicepimg1">
			<h2>Biceps Curl Towel</h2>
			<br>
			<img src="https://www.visualbest.co/wp-content/uploads/2018/06/towel-min.gif" width="600px" height="400px"><br><br><br><br>
		</div>
		</div><br>

		<div id="Abdominals">
			<h1 style="text-align:center;">Abdominals</h1><br><br>
			<div class="abs1">
			<h2>Abs Workouts:</h2>
			<p><b>The Best Abs Workout: Circuits For Upper Abs, Lower Abs, And Obliques And Core.</b><br>
				Abdominal exercises are a type of strength exercise that affect the abdominal muscles (colloquially known as the stomach muscles or "abs"). Human abdominal consist of four muscles which are your rectus abdomens, internal oblique, external oblique, and transversus abdominis. When performing abdominal exercises it is important to understand the effects, functions, the types of exercises, and think about how to perform this exercise safely.
			</p>
			<h2>Effects:</h2>
			<p>
				Abdominal exercises are useful for building abdominal muscles. This is useful for improving performance with certain sports, back pain, and for withstanding abdominal impacts (e.g., taking punches). According to a 2011 study, abdominal muscle exercises are known to increase the strength and endurance of the abdominal muscles.

It has been highly disputed whether or not abdominal exercises have any reducing effect on abdominal fat. The aforementioned 2011 study found that abdominal exercise does not reduce abdominal fat; to achieve that, a deficit in energy expenditure and caloric intake must be created—abdominal exercises alone are not enough to reduce abdominal fat and the girth of the abdomen. Early results from a 2006 study found that walking exercise (not abdominal exercise specifically) reduced the size of subcutaneous abdominal fat cells; cell size predicts type 2 diabetes according to a lead author. Moderate exercise reduced cell size by about 18% in 45 obese women over 20 weeks; diet alone did not appear to affect cell size.
			</p><br><br><br>
		</div>
		<img class="absimg1" src="https://miro.medium.com/max/3968/1*chnrQIg6C64CKLcdQRafNw.jpeg">
		<div class="lowerabs">
			<h2>Lower Abs</h2><br><br>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/N3aSoC0HHdU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class="upperabs">
			<h2>Upper Abs</h2><br><br>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/XFZ-QYrxRyo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div><br>
	<div id="Legs">
		<h1 style="text-align:center;">Legs</h1><br><br>
		<h1 style="position: relative; bottom: 430px; right: 630px;">Do This Leg Workout At Home To Strengthen Your Lower Body</h1>
		<img class="leg1" src="https://images.ctfassets.net/90pc6zknij8o/3Af6js0zqu7JMpeXIZWjqg/2ff796a29ae719dd6b59a4fbac831459/Fitness_Male_Squat_Raphael_001-1.jpg?w=913&h=600&q=50&fit=fill&f=faces">
		<p style="position:relative; bottom: 350px; float: left;">
			We’re confident that Coach has workouts that will suit everyone. Whatever your fitness goals are, whatever your current level of fitness and experience is, and whatever equipment and space you have available, there’s a workout for you on this website.

However, it’s rare that we come across a single session that suits just about everyone. So when the team at activewear brand Sundried shared this lower-body session, we were all too happy to pass it on to you.

You’ll work through three sets of each exercise in the workout, hitting your legs and glutes particularly hard, but also working your core. It can be done just about anywhere, since all but one of the exercises are bodyweight moves, and the odd one out can be done with any DIY weight (we’ve taken to using a couple of bricks that were lying about the garden).

If you have some free weights hanging around, it’s easy to incorporate them to make the workout harder. Other ways of making the workout harder include slowing the movements down so your muscles spend more time under tension, and limiting the amount of rest you give yourself between sets.

You’ll find full descriptions of all the exercises and details on sets, reps and rest below, but Sundried has also put together this handy infographic to show the workout, so if you know how to do the moves already you can start rattling them off.<br><br>
		
		<iframe width="560" height="315" src="https://www.youtube.com/embed/UKM_3T2-Huc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<iframe style="float: right;" width="560" height="315" src="https://www.youtube.com/embed/N5PN7G06pKg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</p>
	</div><br>
<div id="Shoulders">
	<h1 style="text-align:center;">Shoulders</h1><br><br>
	<img style="margin-left: 300px;" src="https://images.squarespace-cdn.com/content/v1/594c5ab34f14bcca1a010c20/1599328343888-KEABZON0O7RVKAIQ8C03/ke17ZwdGBToddI8pDm48kIdwuL-YH8qdQNkAqEk86rtZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyrlDB6o-m1QpI9POf53GOOdPhFP3XS315CDLRkhmFZV6m7nputAs4I1PhPGOKRgIc/The+At+Home+Shoulder+Workout+You+Can+Do+With+No+Weights.jpg">
	<p>
		Want to train your shoulders but don’t have any weights to help you get them? <br>



We have the solution for you—an at-home shoulder workout that you can do without any dumbbells or weight plates. 
<br>


So how do you train shoulders at home?  When training shoulders at home with no weights, you need to find ways to hit each area of the muscle, including the deltoids and rotator cuffs by your own bodyweight, and common house accessories to act as the resistance. <br><br>
<iframe width="560" height="315" style="margin-left: 350px;" src="https://www.youtube.com/embed/tKU64bd4gaw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</p><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</div>
</div></section>