<style type="text/css">
*{
  font-size: 22px;

}
section{
  background-image: url(https://images.unsplash.com/photo-1605296867304-46d5465a13f1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8Zml0bmVzc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80);
  height: 600px;
}
.Contact{
  color: whitesmoke;
  position: absolute;
  left: 200px;
  bottom: 115px;
  border-radius: 5px;
  width: 400px;
  text-align: left;

}
.contact{
  
  margin-top: 1px;
  font-size: 20px;
 
}
.contact a {
  width: 55px;
  height: 35px;
  border-radius: 10px;
  background: linear-gradient(to left,grey,whitesmoke);
  color: black;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
 
}
.contact a {
  margin-left: 55PX;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
.contact a:hover {
  transform: scale(2);

}
.sm{
  display: flex;
  margin-top: 1rem;
}
.sm a {
  width: 55px;
  height: 35px;
  border-radius: 10px;
  background: linear-gradient(to left,grey,whitesmoke);
  color: black;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}
.sm a {
  margin-left: 45PX;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
.sm a:hover {
  transform: scale(2);
}
.Contactus{
  margin-right: 200px;
  text-align: right;
}
.Contactus label{
   display: none;
}
.Contactus form{
  padding: 10px;
  margin: 10px;
}
.Contactus input{
  border-radius: 15px;
  width: 300px;
  padding: 12px;
  margin: 10px;
}
button{

  border-radius: 15px;
  width: 80px;
  padding: 12px;
  margin: 10px;
}
.Contactus input:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.Contactus button:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

</style>

<section>
  <h1 style="text-align: center; background-color:#b2d444; font-size: 30px;">Contact Page</h1>
 <div class="Contact">
  <h2>Let's get in touch</h2>
  <p>
    Every morsel of feedback is a nugget of shiny gold because it gives us the opportunity to provide the best customer experience.
  </p>
  <div class="contact">
  <a href="#"><i class="fas fa-map-marker-alt"></i></a>India and U.S<br><br>
  <a href="#"><i class="fas fa-envelope"></i></a>bfit@gmail.com<br><br>
  <a href="#"><i class="fas fa-phone"></i></a>+91 9876543210 , +4452631252<br><br>
</div>
  <div class="sm">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin-in"></i></a>
</div>
</div>
<div class="Contactus">
  
  <form>
    <h2 style="margin-right: 120px; margin-top: 80px; color: whitesmoke;">Contact Us</h2>
    <label>Fullname</label>
    <input type="Username" name="Username" placeholder="Fullname"><br>
    <label>number</label>
    <input type="number" name="number" placeholder="Phone"><br>
    <label>Mailid</label>
    <input type="email" name="mailid" placeholder="Mail id"><br>
    <label>Message</label>
    <input type="textarea" name="message" placeholder="Message" ><br>
    <button>Reset</button>
    <button>Send</button>

  </form>
  
</div>
</section><br>

