 <style type="text/css">
 	#Home{
  font-size: 20px;
}
#Home p{
  padding: 10px;
  width: 600px;
}
.img1{
  width: 650px;
  height: 500px;
  float: right;
}
 </style>
 <section>
    <div id="Home">
      <h1 style="text-align: center; background-color: #b2d444;">Home</h1><br>
      <img class="img1" src="https://wallpapercave.com/wp/wp2377752.jpg">
      <h1>Excercise & Fitness</h1>
      <p>
        Exercise isn’t just good for your body, it’s great for mental health. Whatever your age, health limitations, or fitness levels, you can find ways to be more active. Even small steps can add up to more energy, less stress, and better mood.
      </p>
      <h1>Health & Fitness</h1>
      <p>
        Health is the level of functional or metabolic efficiency of a living organism. In humans, it is the ability of individuals or communities to adapt and self-manage when facing physical, mental, or social challenges. The most widely accepted definition of good health is that of the World Health Organization Constitution. It states: "health is a state of complete physical, mental and social well-being and is not merely the absence of disease or infirmity" (World Health Organization, 1946). In more recent years, this statement has been amplified to include the ability to lead a "socially and economically productive life." The WHO definition is not without criticism; mainly that it is much too broad.
      </p></div><br>
    </section>